<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Weather Data Manager</title>
</head>
<body>
    <h1>Administración de Datos Climáticos</h1>

    <form action="/insertar_paises" method="post">
        <button type="submit">Insertar Países</button>
    </form>

    <form action="/insertar_fronteras" method="post">
        <button type="submit">Insertar Fronteras</button>
    </form>

    <form action="/insertar_temperaturas" method="post">
        <button type="submit">Insertar Temperaturas</button>
    </form>
</body>
</html>
